@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(168, 167, 167, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* ---------------- Navbar */

.active a {
    font-weight : 800 !important;
}

.navbar-brand h1 {
    color: rgb(189,160,147);
    font-weight: 800;
    text-transform : uppercase;
    letter-spacing : 8px;
    font-size: 25px;
    padding-left:5px;
    margin-left: 0px;
    }

.navbar-brand h1:hover {
    color: rgb(189,160,147);
}

.navbar {
    background-color: rgb(233,222,216);
    padding-top:20px;
    padding-bottom: 20px;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none; 
    color: rgb(189,160,147) !important;
}

.navbar a:hover {
    color: rgb(189,160,147) !important;
    font-weight : 800;
}

/*----------Index-----*/

.btn-about a {
    text-decoration: none;
    color: black;
}

.btn-about a:hover {
    text-decoration: none;
    color: #fafafa;
}

/*----Footer */

.page-content {
    margin-bottom: 80px;
}

#footer-section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color:rgb(233,222,216);
}

.footer-list {
    list-style-type: none;
    text-align: center;
}

.footer-list li {
    display: inline;
}

.footer-list a {
    text-decoration: none;
}

.footer-list li a i {
    width: 32px;
    height: 32px;
    padding: 12px 25px;
    padding-top: 10px;
    color: rgb(189,160,147);
    font-size: 20px;
    border-radius: 50%;
}

.footer-list li {
    padding-left: -40px;
}

/*--------Code from Hover.css--*/

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*----------Hero image */

/*--- Code inspired by CSS module "Love Running" of Code Institute */

#hero-image {
    position: relative;
    padding: 0;
    height: 400px;
    width: 100%;
    background: url("../images/books.jpg") no-repeat center center;
}

#hero-text-position {
    margin: auto;
    position: relative;
    top: 160px;
    width: 50%;
}

.container-fluid {
    padding-left:0;
    padding-right:0;
}

/*--- End of code inspired by CSS module "Love Running" of Code Institute */

/*----------Titles */

.cover-text h1 {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color:#fafafa;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing : 5px;
    border: 3px solid  rgb(189,160,147);
    background-color: rgb(189,160,147, .7);
}

.title {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(189,160,147);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing : 5px;
    border-bottom: 1px solid  rgb(189,160,147);
}

.title-position {
    padding: 10px;
    margin-top: 30px;
}

/*-----Texts */

.text {
    padding: 20px 40px;
    text-align: center;
    font-weight: 500;
    font-size: medium;
    color: black;
}

/*-----Every section */

.section-position {
    border-bottom: 1px solid rgb(189,160,147);
    padding-top: 30px;
}

/*----Communities */

.community-section {
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.community-position {
    margin: auto;
    padding-top: 20px;
}

.inside-box h5 {
    color: rgb(210,160,147);
    font-size: medium;
    font-weight: 700;
    text-align: center;
    margin-top: 4%;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing : 2px;
    border-bottom: 1px solid rgb(210,160,147);
}

.inside-box h5:hover {
    font-weight: 800;
    border-bottom: 2px solid rgb(189,160,147);
}

.inside-box i {
    color: rgb(189,160,147);
}

.inside-box p {
    font-size: medium;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-right: 2px;
    margin-left:0px;
}

.box-img {
    width: 50%;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-outline-dark-medium {
    font-size:medium;
    color: black;
    background-color: rgb(250,250,250,0.2);
    border : 2px solid rgb(189,160,147);
    padding: 5px 7px;
    border-radius: 8px;
    font-weight: 700;
}

.btn-outline-dark-medium:hover {
    color: #fafafa;
    background-color: rgb(189,160,147);
    border : 2px solid rgb(189,160,147);
}

.btn-outline-dark {
    color: black;
    background-color: rgb(250,250,250,0.2);
    border : 2px solid rgb(189,160,147);
    font-size: medium;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 700;
}

.btn-box-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.btn-outline-dark:hover {
    color: #fafafa;
    background-color: rgb(189,160,147);
    border : 2px solid rgb(189,160,147);
}

.box {
    width: 400px;
    height: 440px;
    float: left;
    margin: 30px;
    background-color: rgb(168, 167, 167, 0.05);
    border: 2px solid rgb(189,160,147);
}


@media only screen and (max-width: 480px) {
  .box {
    width: 100%;
    height: 100%;
    margin-left:0px;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom:10px;
  }

  .box-img {
    width: 70%;
  }

  .inside-box p {
      font-size: small;
  }

  .btn-outline-dark {
      font-size:small;
      padding: 5px;
  }
  .community-position {
    padding-top: 0px;
}
    .community-intro {
        margin-bottom:20px;
    }
}

/*--------Modal Bootstrap---*/

.modal-dialog {
    height: 1000px;
}

.modal-body img {
    width: 40%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
}

.modal-body p {
    text-align: center;
}

.text-modal {
    border:1px solid rgb(189,160,147);
    padding: 10px;
    margin-bottom: 10px;
}

.text-modal a {
    text-decoration: none;
    color: black;
}

.text-modal a:hover {
    text-decoration: none;
    color:#fafafa;
}

.modal-body h5 {
    color: rgb(210,160,147);
    border-bottom: 2px solid rgb(189,160,147);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing : 2px;
}

.modal-title {
    color: rgb(210,160,147);
    font-size: 30px;
    font-weight: 700;
    margin-right:auto;
    margin-left:auto%;
    margin-top: 5px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing : 2px;
}

.btn-modal-position {
    text-align: center;
}

@media only screen and (max-width: 480px) {
.modal-title {
      font-size:20px;
      text-align: center;
    }
.modal-body img {
    width: 70%;
}
  }


.modal-content {
    background-color: rgb(232,232,232);
}

/*---Meetings list : Code inspired by Code institude Resume project--*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    margin-left:15%;
    position: relative;
    color: black;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin:0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background:rgb(189,160,147);
}

.meeting-items {
    margin-bottom: 20px;
    margin-top: 20px;
}

.timeline-item p {
    margin-bottom:10px;
}


/*-------Form--*/

form {
    margin: 10px;
    border: 1px solid rgb(189,160,147);
    padding: 10%;
    border-radius: 8px;
}

.contact-meeting {
    color:rgb(189,160,147);
    margin-top:20px;
    padding-top: 20px;
    padding-bottom:20px;
    border: 1px solid rgb(189,160,147);
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
}

.contact-meeting h6 {
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: 600;
}

.contact-intro {
    color:rgb(189,160,147);
    margin-top:20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(189,160,147);
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
}


.contact-meeting a {
    text-decoration: none;
    color: black;
}

.contact-meeting a:hover{
    color: #fafafa;
}

@media only screen and (max-width: 480px) {
.contact-intro {
    width: 60%
    }
.row {
    margin-left:0px;
    margin-right:0px;
}
  }

.contact-intro h6 {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

.btn-position {
    position: relative;
    margin-left:auto;
    margin-right:auto;
}
